<form method="POST" action="/new">

    <fieldset>
        <legend>Post a new message!</legend>
        <label for="">
            Your name: 
            <input type="text" id="name" name="userName">
        </label>
        <label for=""> 
            Your message:
            <input type="text" id="text" name="messageText">
        </label>
        <button type="submit"> Post!</button>
    </fieldset>

</form>
