<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
</head>
<body>
    <h1>Index file "Home" for the site</h1>
    
    <p> <%= title %> </p>

    <ul>
        <% messages.forEach((message) => { %>
            <%- include('message', { message: message }); %>
        <% }); %>
    </ul>
    

    <%- include('footer') %>
</body>
</html>