* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
    padding: 50px;
}

li {
    list-style: none;
    border: 1px solid black;
    padding: 4px;
}